<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jgzy.core.personalCenter.mapper.UserGoodsCollectMapper">
    <select id="selectUserGoodsCollectByUserId" resultType="com.jgzy.core.personalCenter.vo.UserGoodsCollectionVo">
        SELECT
            collect.id,
            collect.goods_id,
            goods.shop_name,
            goods.cost_price,
            goods.pic,
            goods.status,
            goods.goods_unit,
            goods.abstracts,
            goods.stock
        FROM
            user_goods_collect collect
        JOIN shop_goods goods ON collect.goods_id = goods.id
        WHERE
            collect.collect_user_info_id = #{id}
        AND collect.user_del = 1
        ORDER BY collect.id DESC
    </select>
</mapper>
