<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jgzy.core.personalCenter.mapper.UserGoodsCollectMapper">
    <select id="selectUserGoodsCollectByUserId" resultType="com.jgzy.entity.po.UserGoodsCollect">
        SELECT
            id,
            goods_id,
            collect_user_info_id,
            collect_time
        FROM
            user_goods_collect
        WHERE
            collect_user_info_id = #{id}
        AND user_del = 1
        ORDER BY id DESC
    </select>
</mapper>
