<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jgzy.core.personalCenter.mapper.UserInfoMapper">
    <select id="statistics" resultType="com.jgzy.core.personalCenter.vo.PersonalCenterVo">
        SELECT
            *
        FROM
            (
                SELECT
                    count(*) collectionCount
                FROM
                    user_goods_collect
                WHERE
                    user_del = 1
                AND collect_user_info_id = #{id}
            ) collect,
            (
                SELECT
                    count(*) footprintCount
                FROM
                    user_goods_footprint
                WHERE
                    footprint_user_info_id = #{id}
                AND user_del = 1
            ) footprint,
            (
                SELECT
                    count(*) userActivityCoupon
                FROM
                    user_activity_coupon
                WHERE
                    coupon_user_info_id = #{id}
                AND coupon_state = 1
                AND valid_date_end > #{now}
            ) coupon
    </select>
    <update id="updateStockRight">
        update user_info set point = IFNULL(point, 0) + #{stockRight} where id =#{id}
    </update>
    <update id="updateCommissionDiscount">
      update user_info set balance3 = IFNULL(balance3, 0) + #{commission} where id = #{id}
    </update>
    <select id="selectMyUserLevelById" resultType="com.jgzy.entity.po.UserInfo">
        SELECT
            info.id,
            account_number,
            pass_word,
            token,
            code,
            valid_status,
            ori.level_id user_level_id,
            user_tag_ids,
            nickname,
            head_portrait,
            point,
            balance1,
            balance2,
            balance3,
            balance4,
            info.phone,
            email,
            register_time,
            effective_time,
            gender,
            birthday,
            occupation,
            earning,
            info.user_name,
            tel_exten,
            accumulated_consumption,
            accumulated_point,
            commission,
            from_source,
            is_robot,
            is_get_coupon,
            is_remind,
            charitable,
            update_time
        FROM
            user_info info
                LEFT JOIN
            originator_info ori ON info.id = ori.user_id AND ori.status = 0
        WHERE
          info.id = #{id}
    </select>
    <update id="withDrawAmount">
        UPDATE user_info
        SET balance1 = IFNULL( balance1, 0 ) - #{withdrawNum},
          balance4 = IFNULL( balance4, 0 ) + #{withdrawNum}
        WHERE
            id = #{id}
    </update>
    <select id="selectMyUserJoinOriginatorInfo" resultType="com.jgzy.core.personalCenter.vo.UserInfoVo">
        SELECT
            userInfo.id,
            userInfo.nickname,
            userInfo.head_portrait,
            userInfo.point,
            userInfo.balance1,
            userInfo.balance4,
            userInfo.gender,
            userInfo.update_time,
            originatorInfo.user_name,
            originatorInfo.level_id,
            originatorInfo.identify_no,
            originatorInfo.phone,
            originatorInfo.weixin,
            originatorInfo.status,
            originatorInfo.discount,
            originatorInfo.discount_status
        FROM
            user_info userInfo
                LEFT JOIN
            originator_info originatorInfo ON userInfo.id = originatorInfo.user_id
        WHERE userInfo.id = #{id}
    </select>
    <update id="updateMyBalance" parameterType="com.jgzy.entity.po.UserInfo">
        UPDATE user_info
        <set>
            <if test="balance1 != null">
                balance1 = IFNULL( balance1, 0 ) + #{balance1},
            </if>
            <if test="balance2 != null">
                balance2 = IFNULL( balance2, 0 ) + #{balance2},
            </if>
            <if test="balance3 != null">
                balance3 = IFNULL( balance3, 0 ) + #{balance3},
            </if>
            <if test="balance4 != null">
                balance4 = IFNULL( balance4, 0 ) + #{balance4},
            </if>
            <if test="point != null">
                point = IFNULL( point, 0 ) + #{point},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime}
            </if>
        </set>
        WHERE
          id = #{id}
    </update>
</mapper>
