<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jgzy.core.personalCenter.mapper.UserDistributionConstantMapper">
    <select id="selectMyDistributionById" resultType="com.jgzy.entity.po.UserDistributionConstant">
        SELECT
            u.id,
            ori.level_id,
            constant.commission_discount,
            constant.stock_right_discount,
            constant.add_time,
            constant.update_time
        FROM
          user_distribution_constant constant
        JOIN
          originator_info ori ON ori.level_id = constant.level_id
        JOIN
          user_info u ON ori.user_id = u.id
        <where>
            u.id = #{id}
        </where>
    </select>
    <select id="selectParentDistributionById" resultType="com.jgzy.entity.po.UserDistributionConstant">
        SELECT
            u.id,
            ori.level_id,
            constant.commission_discount,
            constant.stock_right_discount,
            constant.add_time,
            constant.update_time
        FROM
            user_distribution_constant constant
            JOIN
              originator_info ori ON ori.level_id = constant.level_id
            JOIN
              user_info u ON ori.user_id = u.id
            JOIN
              user_distribution dis ON dis.parent_id = u.id
        WHERE
            dis.user_id = #{id}
    </select>
</mapper>
