<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jgzy.core.shopOrder.mapper.ShopGoodsOrderMapper">
    <resultMap id="ShopGoodsOrderVo" type="com.jgzy.core.shopOrder.vo.ShopGoodsOrderVo">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="order_no" jdbcType="VARCHAR" property="orderNo"/>
        <result column="order_status" jdbcType="INTEGER" property="orderStatus"/>
        <result column="submit_order_user" jdbcType="INTEGER" property="submitOrderUser"/>
        <result column="blessing" jdbcType="VARCHAR" property="blessing"/>
        <result column="is_redpacket" jdbcType="INTEGER" property="isRedpacket"/>
        <result column="shop_info_id" jdbcType="INTEGER" property="shopInfoId"/>
        <result column="actual_amount" jdbcType="DECIMAL" property="actualAmount"/>
        <result column="pay_type" jdbcType="INTEGER" property="payType"/>
        <result column="need_invoice" jdbcType="INTEGER" property="needInvoice"/>
        <result column="invoice_type" jdbcType="INTEGER" property="invoiceType"/>
        <result column="invoice_head" jdbcType="VARCHAR" property="invoiceHead"/>
        <result column="invoice_content" jdbcType="VARCHAR" property="invoiceContent"/>
        <result column="express_company" jdbcType="VARCHAR" property="expressCompany"/>
        <result column="express_no" jdbcType="VARCHAR" property="expressNo"/>
        <result column="receive_man" jdbcType="VARCHAR" property="receiveMan"/>
        <result column="contact_phone" jdbcType="VARCHAR" property="contactPhone"/>
        <result column="receive_address" jdbcType="VARCHAR" property="receiveAddress"/>
        <result column="shipper" jdbcType="VARCHAR" property="shipper"/>
        <result column="shipper_phone" jdbcType="VARCHAR" property="shipperPhone"/>
        <result column="shipper_address" jdbcType="VARCHAR" property="shipperAddress"/>
        <result column="order_amount_total" jdbcType="DECIMAL" property="orderAmountTotal"/>
        <result column="carriage" jdbcType="DECIMAL" property="carriage"/>
        <result column="carriage_type" jdbcType="INTEGER" property="carriageType"/>
        <result column="carriage_type_detail" jdbcType="INTEGER" property="carriageTypeDetail"/>
        <result column="coupon_amount" jdbcType="DECIMAL" property="couponAmount"/>
        <result column="material_amount" jdbcType="DECIMAL" property="materialAmount"/>
        <result column="advance_amount" jdbcType="DECIMAL" property="advanceAmount"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="pay_time" jdbcType="TIMESTAMP" property="payTime"/>
        <result column="send_out_time" jdbcType="TIMESTAMP" property="sendOutTime"/>
        <result column="valid_order_time" jdbcType="TIMESTAMP" property="validOrderTime"/>
        <result column="is_groupbuy" jdbcType="INTEGER" property="isGroupbuy"/>
        <result column="is_presell" jdbcType="INTEGER" property="isPresell"/>
        <result column="remarks" jdbcType="VARCHAR" property="remarks"/>
        <result column="shop_order_tag_ids" jdbcType="VARCHAR" property="shopOrderTagIds"/>
        <result column="shop_activity_coupon_id" jdbcType="INTEGER" property="shopActivityCouponId"/>
        <result column="consumption_points" jdbcType="DECIMAL" property="consumptionPoints"/>
        <result column="payment_stage" jdbcType="INTEGER" property="paymentStage"/>
        <result column="transaction_number" jdbcType="VARCHAR" property="transactionNumber"/>
        <result column="closing_time" jdbcType="TIMESTAMP" property="closingTime"/>
        <result column="order_source" jdbcType="INTEGER" property="orderSource"/>
        <result column="shop_order_tag" jdbcType="VARCHAR" property="shopOrderTag"/>
        <result column="groupbuy_order_id" jdbcType="INTEGER" property="groupbuyOrderId"/>
        <result column="trade_no" jdbcType="VARCHAR" property="tradeNo"/>
        <result column="user_del" jdbcType="INTEGER" property="userDel"/>
        <result column="is_stock" jdbcType="INTEGER" property="isStock"/>
        <result column="is_point" jdbcType="INTEGER" property="isPoint"/>
        <result column="is_read" jdbcType="INTEGER" property="isRead"/>
        <result column="union_id" jdbcType="VARCHAR" property="unionId"/>
        <result column="parent_order_id" jdbcType="INTEGER" property="parentOrderId"/>
        <result column="total_amount" jdbcType="DECIMAL" property="totalAmount"/>
        <result column="total_point" jdbcType="DECIMAL" property="totalPoint"/>
        <result column="total_Real_payment" jdbcType="DECIMAL" property="totalRealPayment"/>
        <collection property="shopgoodsOrderDetailVoList" column="order_id"
                    ofType="com.jgzy.core.shopOrder.vo.ShopgoodsOrderDetailVo" resultMap="ShopGoodsOrderDetail"/>
    </resultMap>
    <resultMap id="ShopGoodsOrderDetail" type="com.jgzy.core.shopOrder.vo.ShopgoodsOrderDetailVo">
        <id column="shop_goods_id" jdbcType="INTEGER" property="shopGoodsId"/>
        <result column="id" jdbcType="INTEGER" property="detailId"/>
        <result column="order_id" jdbcType="INTEGER" property="orderId"/>
        <result column="sort_name" jdbcType="VARCHAR" property="sortName"/>
        <result column="pic" jdbcType="VARCHAR" property="pic"/>
        <result column="market_price" jdbcType="DECIMAL" property="marketPrice"/>
        <result column="cost_price" jdbcType="DECIMAL" property="costPrice"/>
        <result column="menber_price" jdbcType="DECIMAL" property="menberPrice"/>
        <result column="buy_count" jdbcType="INTEGER" property="buyCount"/>
        <result column="goods_unit_count" jdbcType="INTEGER" property="goodsUnitCount"/>
        <result column="add_time" jdbcType="TIMESTAMP" property="addTime"/>
        <result column="live_id" jdbcType="INTEGER" property="liveId"/>
        <result column="hide_hasPaid" jdbcType="DECIMAL" property="hideHaspaid"/>
        <result column="hide_discountedPrice" jdbcType="DECIMAL" property="hideDiscountedprice"/>
        <result column="hide_freight" jdbcType="DECIMAL" property="hideFreight"/>
        <result column="hide_pointMoney" jdbcType="DECIMAL" property="hidePointmoney"/>
        <result column="possible_point" jdbcType="INTEGER" property="possiblePoint"/>
        <result column="is_evaluate" jdbcType="INTEGER" property="isEvaluate"/>
        <result column="extract" jdbcType="INTEGER" property="extract"/>
        <result column="extract_time" jdbcType="TIMESTAMP" property="extractTime"/>
        <result column="abstracts" jdbcType="VARCHAR" property="abstracts"/>
        <!--<collection property="shopGoodsAttributeList" column="shop_goods_id"-->
                    <!--ofType="com.jgzy.entity.po.ShopGoodsAttribute" resultMap="ShopGoodsAttribute"/>-->
    </resultMap>

    <resultMap id="ShopGoodsAttribute" type="com.jgzy.entity.po.ShopGoodsAttribute">
        <result column="id" jdbcType="INTEGER" property="id"/>
        <result column="shop_goods_id" jdbcType="INTEGER" property="shopGoodsId"/>
        <result column="platform_goods_attribute_id" jdbcType="INTEGER" property="platformGoodsAttributeId"/>
        <result column="attribute_name" jdbcType="VARCHAR" property="attributeName"/>
        <result column="attribute_value_name" jdbcType="VARCHAR" property="attributeValueName"/>
        <result column="attribute_value_port" jdbcType="INTEGER" property="attributeValuePort"/>
        <result column="add_time" jdbcType="TIMESTAMP" property="addTime"/>
    </resultMap>

    <sql id="Base_Column_List">
        a.id id, order_no, order_status, submit_order_user, blessing, is_redpacket, shop_info_id,
        actual_amount, pay_type, need_invoice, invoice_type, invoice_head, invoice_content,
        express_company, express_no, receive_man, contact_phone, receive_address, shipper,
        shipper_phone, shipper_address, order_amount_total, carriage, carriage_type, carriage_type_detail, coupon_amount,
        material_amount, advance_amount, create_time, pay_time, send_out_time, valid_order_time,
        is_groupbuy, is_presell, remarks, shop_order_tag_ids, shop_activity_coupon_id, consumption_points,
        payment_stage, transaction_number, closing_time, order_source, shop_order_tag, groupbuy_order_id,
        trade_no, user_del, is_stock, is_point, is_read, union_id, parent_order_id, total_amount,
        total_point, total_Real_payment
    </sql>

    <sql id="Base_Detail_Column_List">
        detail.id detailId,order_id, detail.shop_goods_id, sort_name, detail.pic, detail.market_price, detail.cost_price,
        detail.menber_price, buy_count, detail.goods_unit_count, detail.add_time, live_id, hide_hasPaid, hide_discountedPrice, hide_freight,
        hide_pointMoney, possible_point, is_evaluate, `extract`, extract_time
    </sql>

    <sql id="Base_Attribute_Column_List">
      att.id, att.shop_goods_id, platform_goods_attribute_id, attribute_name, attribute_value_name, attribute_value_port, att.add_time
    </sql>


    <select id="selectMyOrder" resultMap="ShopGoodsOrderVo">
        SELECT <include refid="Base_Column_List" />,<include refid="Base_Detail_Column_List"/>
        FROM shop_goods_order a
        RIGHT JOIN shop_goods_order_detail detail ON a.id = detail.order_id
        <where>
            <if test="orderId != null">
                a.id = #{orderId}
            </if>
        </where>
    </select>

    <select id="selectOrderPage" resultType="com.jgzy.core.shopOrder.vo.ShopGoodsOrderVo">
        SELECT <include refid="Base_Column_List"/>
        FROM shop_goods_order a
        <where>
            <if test="userId != null">
                AND a.submit_order_user = #{userId}
            </if>
            <if test="orderStatus != null">
                AND a.order_status = #{orderStatus}
            </if>
            <if test="list != null">
                AND order_source IN
                <foreach collection="list" index="index" item="item" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
            <if test="id != null">
                AND a.id = #{id}
            </if>
            <if test="orderNo != null">
                AND a.order_no = #{orderNo}
            </if>
            AND a.order_status <![CDATA[ <> ]]> 13
        </where>
        ORDER BY a.id DESC
    </select>

    <select id="selectDetailAndAttribute" resultMap="ShopGoodsOrderDetail">
        SELECT <include refid="Base_Detail_Column_List"/>,goods.abstracts
        FROM shop_goods_order_detail detail
        LEFT JOIN shop_goods goods ON detail.shop_goods_id=goods.id
        WHERE detail.order_id = #{id}
    </select>

    <select id="selectOneOrder" resultType="com.jgzy.core.shopOrder.vo.ShopGoodsOrderVo">

    </select>
    <select id="statistics" resultType="com.jgzy.core.shopOrder.vo.ShopGoodsOrderStatisticVo">
        SELECT
            count( * ) count,
            order_status,
            order_source
        FROM
            shop_goods_order
        WHERE user_del != 1 AND submit_order_user = #{id}
        GROUP BY
            order_status,
            order_source
    </select>
</mapper>
