<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jgzy.core.shopOrder.mapper.UserFundMapper">
    <insert id="insertUserFund" statementType="CALLABLE" parameterType="com.jgzy.entity.po.UserFund">
        CALL user_fund_procedure(#{tradeUserId}, #{increaseMoney}, #{decreaseMoney},#{orderNo},
        #{tradeType}, #{tradeDescribe}, #{accountType}, #{bussinessType}, #{payType})
    </insert>
</mapper>
