<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jgzy.core.news.mapper.ShopVideoInfoMapper">
    <resultMap id="ShopVideoInfoResultMap" type="com.jgzy.core.news.vo.ShopVideoInfoVo">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="shop_info_id" jdbcType="INTEGER" property="shopInfoId"/>
        <result column="platform_video_category_id" jdbcType="INTEGER" property="platformVideoCategoryId"/>
        <result column="title" jdbcType="VARCHAR" property="title"/>
        <result column="subtitle" jdbcType="VARCHAR" property="subtitle"/>
        <result column="time_length" jdbcType="DOUBLE" property="timeLength"/>
        <result column="play_url" jdbcType="VARCHAR" property="playUrl"/>
        <result column="remarks" jdbcType="VARCHAR" property="remarks"/>
        <result column="teacher" jdbcType="VARCHAR" property="teacher"/>
        <result column="describe" jdbcType="VARCHAR" property="describe"/>
        <result column="play_times" jdbcType="INTEGER" property="playTimes"/>
        <result column="add_time" jdbcType="TIMESTAMP" property="addTime"/>
        <result column="show_pics" jdbcType="VARCHAR" property="showPics"/>
        <collection property="shopVideoGoodsList" ofType="com.jgzy.core.news.vo.ShopVideoGoodsVo"
                    javaType="java.util.ArrayList">
            <result column="shop_goods_id" jdbcType="INTEGER" property="shopGoodsId"/>
            <result column="shop_name" jdbcType="VARCHAR" property="shopName"/>
            <result column="market_price" jdbcType="DECIMAL" property="marketPrice"/>
            <result column="stock" jdbcType="INTEGER" property="stock"/>
            <result column="stock_type" jdbcType="INTEGER" property="stockType"/>
            <result column="pic" jdbcType="VARCHAR" property="pic"/>
            <result column="cost_price" jdbcType="DECIMAL" property="costPrice"/>
            <result column="menber_price" jdbcType="DECIMAL" property="menberPrice"/>
            <result column="goods_unit" jdbcType="VARCHAR" property="goodsUnit"/>
            <result column="goods_unit_count" jdbcType="INTEGER" property="goodsUnitCount"/>
            <result column="abstracts" jdbcType="VARCHAR" property="abstracts"/>
        </collection>
    </resultMap>

    <sql id="ShopVideoInfoColumnList">
      shopVideInfo.id, shopVideInfo.shop_info_id, shopVideInfo.platform_video_category_id, shopVideInfo.title,
      shopVideInfo.subtitle, shopVideInfo.time_length, shopVideInfo.play_url, shopVideInfo.remarks,
      shopVideInfo.teacher, shopVideInfo.`describe`, shopVideInfo.play_times, shopVideInfo.add_time,shopVideInfo.show_pics
    </sql>

    <update id="updatePlayTimes">
        UPDATE shop_video_info
        SET
          play_times = IFNULL(play_times, 0) + 1
        WHERE id = #{id}
    </update>
    <select id="selectMyShopVideo" resultMap="ShopVideoInfoResultMap">
        SELECT<include refid="ShopVideoInfoColumnList"/>,shopVideoGoods.shop_goods_id,shopGoods.shop_name,
          shopGoods.market_price,shopGoods.stock,shopGoods.stock_type,shopGoods.pic,shopGoods.cost_price,
          shopGoods.menber_price,shopGoods.goods_unit,shopGoods.goods_unit_count,shopGoods.abstracts
        FROM
        shop_video_info shopVideInfo
        LEFT JOIN shop_video_goods shopVideoGoods ON shopVideInfo.id = shopVideoGoods.shop_video_info_id
        LEFT JOIN shop_goods shopGoods ON shopVideoGoods.shop_goods_id = shopGoods.id
        AND shopGoods.STATUS = 2
        WHERE
        shopVideInfo.id = #{id}
    </select>

    <select id="selectMyPage" resultType="com.jgzy.entity.po.ShopVideoInfo">
        SELECT
            video.id,
            shop_info_id,
            platform_video_category_id,
            title,
            subtitle,
            show_pics,
            time_length,
            play_url,
            video.remarks,
            teacher,
            `describe`,
            play_times,
            video.add_time
        FROM
        shop_video_info video
        INNER JOIN platform_video_category category ON video.platform_video_category_id = category.id
        <where>
            <if test="platformVideoCategoryId != null">
                video.platform_video_category_id = #{platformVideoCategoryId}
                <if test="platformVideoCategoryId != 7">
                    AND video.platform_video_category_id <![CDATA[ <> ]]> 7
                </if>
            </if>
            <if test="platformVideoCategoryId == null">
                AND video.platform_video_category_id <![CDATA[ <> ]]> 7
            </if>
            <if test="type != null">
                AND category.type = #{type}
            </if>
        </where>
    </select>
</mapper>
