<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jgzy.core.news.mapper.ShopVideoInfoMapper">
    <update id="updatePlayTimes">
        UPDATE shop_video_info
        SET
          play_times = IFNULL(play_times, 0) + 1
        WHERE id = #{id}
    </update>
</mapper>
